
/*ASI SE COMENTA EN CSS*/

h1{
   font-size: auto;
}

div{
   width: 500px;
   height: auto;
   border: 2px solid black;
   padding: 20px;
   margin: 20px;
}
.overline{
   text-decoration-line: overline;
}
.uppercase{
   text-transform: uppercase;
}

p{
   text-indent: 10px;
   letter-spacing: 1px;
   line-height: 1.5;
   word-spacing: 3px;
   text-shadow: 2px 2px 2px rgb(201, 196, 196);
}

.serif{
   font-family: 'Times New Roman', Times, serif;
}
.Sans-serif{
   font-family: Arial, Helvetica, sans-serif;
}
.Monospace{
   font-family: 'Courier New', Courier, monospace;
}
h1{
   background-color: aqua;
   color: aliceblue;
}

ul.desordenada{
   list-style-type: style type;
}

table,th,td{
   border: 1px solid black;
   text-align: start;
}

table{
   border-collapse: collapse;
   width: 80%;
   margin: 10 px;
}

th{
   height: 50px;
}

td{
   text-align: center;
}

.frase-cortazar {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   justify-content: flex-start;
   height: 100%;
   }

.frase {
   display: flex;
   width: 350px;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
}

.nav-bar { display: flex; justify-content: space-around; align-items: center; }
.enlaces { display: flex; }

